<table align="center">
    <tr>
        <td class="myTdCol">
            <table class="tg"><%for (var i=34;i<50;i++) { %>
                <tr>
                    <td class="tg-zax tgCenter">
                        <div class="orderDiv"><%=i+1;%></div>
                    </td>
                </tr><% } %>
            </table>
        </td>
        <td class="myTdCol">
            <table class="tg states" tbllength="16" firstIdx="34" lastIdx="49"><%for (var i=34;i<50;i++) { %>
                <tr sortNum="<%=randomList[i].sSortNum;%>" allIndex="<%=randomList[i].sSortNum-1;%>">
                    <td class="tg-zax" sortNum="<%=randomList[i].sState;%>">
                        <div class="iconDiv" dndbtn="1"></div>
                        <div class="stateDiv"><%=randomList[i].state;%></div>
                    </td>
                </tr><% } %>
            </table>
        </td>
    </tr>
</table>